.text-center{
text-align: center;
}
.bg-red{
    /* background: red; */
}
.mx-auto{
    margin: auto;
}
.flex{
display: flex;
}
.flex-col{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row{
    margin: 8px 0px;
}
.button{
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
}
.row input{
    margin: 0;
    padding: 10px 37px;
    border: 2px solid rgb(117, 38, 70);
    border-radius: 5px;
    font-weight: bolder;
}